.rb {
  display: flex;
  height: 5rem;
  width: 5rem;
  border: 1px solid #8200fc;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 5px 5px 10px 0px lightskyblue;

  &:hover {
    background-color: palegreen;
  }
}
.rbNew {
  display: flex;
  height: 5rem;
  width: 5rem;
  border: 1px solid #07e;
  border-radius: 10px;
  margin: 5px;
  background-color: lightskyblue;
  color: white;
  box-shadow: 5px 5px 10px 0px lightskyblue;

  &:hover {
    background-color: #3cb1ff;
  }
}

.inputLabel {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #061178;
}

.chk:checked ~ div {
  background-color: yellowgreen;
  transition: 0.25s ease;
}
