$r5: #ff4d4f;
$r2: #ffccc7;
$r6: #f5222d;
$o5: #ffa940;
$o2: #ffe7ba;
$o6: #fa8c16;
$og5: #ffc53d;
$og2: #fff1b8;
$og6: #faad14;
$y5: #ffec3d;
$y2: #ffffb8;
$y6: #fadb14;
$gl5: #bae637;
$gl2: #f4ffb8;
$gl6: #a0d911;
$g5: #73d13d;
$g2: #d9f7be;
$g6: #52c41a;
$bl5: #36cfc9;
$bl2: #b5f5ec;
$bl6: #13c2c2;
$b5: #597ef7;
$b2: #d6e4ff;
$b6: #2f54eb;
$v5: #9254de;
$v2: #efdbff;
$v6: #722ed1;
$p5: #f759ab;
$p2: #ffd6e7;
$p6: #eb2f96;
$separator: #ddd;
