.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.footerLink {
  margin-right: 10px;
}
.footerLabel {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: x-large;
}
.rb_o,
.rb_y,
.rb_g,
.rb_b,
.rb_p,
.rb_pink,
.rb_gray {
  display: flex;
  height: 5rem;
  width: 5rem;
  border-radius: 10px;
  margin: 5px;
}
.rb_o {
  border: 1px solid darkorange;
}
.rb_o:hover {
  background-color: orange;
}
.rb_y {
  border: 1px solid #bb0;
}
.rb_y:hover {
  background-color: yellow;
}
.rb_g {
  border: 1px solid darkgreen;
}
.rb_g:hover {
  background-color: yellowgreen;
}
.rb_b {
  border: 1px solid blue;
}
.rb_b:hover {
  background-color: steelblue;
}
.rb_p {
  border: 1px solid darkviolet;
}
.rb_p:hover {
  background-color: violet;
}
.rb_pink {
  border: 1px solid hotpink;
}
.rb_pink:hover {
  background-color: hotpink;
}
.rb_gray {
  border: 1px solid lightgray;
}
.rb_gray:hover {
  background-color: gainsboro;
}
