.inputSum,
.inputSumD {
  height: 3rem;
  padding: 1rem;
  margin: 0.5rem 0.5rem 0.5rem 0 !important;
  font-size: large;
  color: orange;
}
.inputSum {
  width: 7rem;
}
.inputSumD {
  width: 5rem;
}
.inputSum::placeholder,
.inputSumD::placeholder {
  color: #193bac;
  font-weight: 500;
  font-size: medium;
}

.productList {
  color: #8200fc;
  background-color: #fffef5;
  margin: 2rem;
  padding: 1rem 2rem;
  border: 1px solid #edf;//#8200fc;
  border-radius: 10px;
  min-width: 20rem;
  max-width: 26rem;
  box-shadow: 3px 3px 3px 0px #faf887;//lightskyblue;
}

.productList p {
  text-align: center;
}

.productList h3 {
  margin: 0;
  color: #ff8c00;//#8200fc;
}

.productList span {
  color: olivedrab;
}

.productList a {
  border: 1px solid olivedrab;
  border-radius: 5px;
  padding: 10px;
}
.productList a:hover {
  background-color: yellowgreen;
  transition: 0.25s ease;
}

.productList ul {
  padding-left: 0;
  list-style-type: none;
  margin-left: 0;
}

.productList li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.productNameRow {
  font-size: large;
  font-weight: 600;
}
.inputSumRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // align-items: center;
}

.grossSum {
  height: 3rem;
  width: 40%;
  min-width: 9rem;
  padding: 0.6rem 1rem;
  margin: 1rem 1rem 1rem 0;
  font-size: large;
  border: 2px solid darkorange;
  text-align: right;
}

.buttonOk {
  padding: 1rem 4rem;
  margin: 1rem 0;
  background-color: darkorange;
  border-radius: 10px;
}
.buttonOk:hover {
  background-color: gold;
  transition: 0.25s ease;
}

@media (max-width: 479px) {
  .buttonOk {
    padding: 1rem 2rem;
  }
}

@media (max-width: 449px) {
  .buttonOk {
    margin: auto;
  }
}

@media (max-width: 399px) {
.inputSum {
  width: 6rem;
}
.inputSumD {
  width: 4rem;
}
  .buttonOk {
    padding: 0.5rem 2rem;
  }
}
