.inputSum,
.inputSumD {
  height: 3rem;
  padding: 1rem;
  margin: 0.5rem 0.5rem 0.5rem 0 !important;
  font-size: large;
  color: orange;
}
.inputSum {
  width: 40%;
  min-width: 7rem;
}
.inputSumD {
  width: 10%;
  min-width: 5rem;
}
.inputSum::placeholder,
.inputSumD::placeholder {
  color: #193bac;
  font-weight: 300;
  font-size: medium;
}

.productList {
  color: #8200fc;
  background-color: white;
  margin: 2rem;
  padding: 1rem 2rem;
  border: 1px solid #8200fc;
  border-radius: 10px;
  min-width: 20rem;
  box-shadow: 3px 3px 3px 0px lightskyblue;
}

.productList p {
  text-align: center;
}

.productList h3 {
  margin: 0;
  color: #8200fc;
}

.productList li {
  display: flex;
  justify-content: space-between;
}
.productList ul {
  padding-left: 0;
  list-style-type: none;
  margin-left: 0;
}
.productList span {
  color: olivedrab;
}
.productList a {
  border: 1px solid olivedrab;
  border-radius: 5px;
  padding: 10px;
}
.productList a:hover {
  background-color: yellowgreen;
  transition: 0.25s ease;
}
.flexRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.buttonOk {
  padding: 1rem 4rem;
  margin: 1rem 0;
  background-color: darkorange;
  border-radius: 10px;
}
.buttonOk:hover {
  background-color: gold;
  transition: 0.25s ease;
}
.grossSum {
  height: 3rem;
  width: 40%;
  min-width: 9rem;
  padding: 0.6rem 1rem;
  margin: 1rem 1rem 1rem 0;
  font-size: large;
  border: 2px solid darkorange;
  text-align: right;
}

@media (max-width: 479px) {
  .buttonOk {
    padding: 1rem 3rem;
  }
}
@media (max-width: 449px) {
  .buttonOk {
    margin: auto;
  }
} ;
