.rb {
  display: flex;
  height: 5rem;
  width: 5rem;
  border: 1px solid #448;
  border-radius: 10px;
  margin: 5px;
}
.inputlabel {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: 0.25s ease; */
  border-radius: 10px;
}
.rb:hover {
  background-color: orange;
}

.chk:checked ~ div {
  background-color: yellowgreen;
  transition: 0.25s ease;
}
.chk:checked ~ div:hover {
  background-color: palegreen;
  transition: 0.25s ease;
}
