.title {
  margin: 0 0 -0.3rem 0;
  color: darkolivegreen;
}
.inputCust {
  height: 3rem;
  padding: 1rem;
  margin: 1rem;
  font-size: large;
  color: #3f6600;
}
.inputCust::placeholder {
  color: lawngreen;
  font-weight: 100;
  font-size: medium;
}
.flexRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.custList,
.newCust {
  background-color: #fff;
  margin: 1rem 2rem;
  padding: 1rem 2rem;
  border: 2px solid lawngreen;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px #d9f7be;
}
.newCust {
  background-color: #d3ff58;
  margin-top: -5rem;
}
.custSelect {
  background-color: #fafafa;
  margin: 2rem;
  padding: 2rem 2rem;
  border: 1px solid orange;
  border-radius: 10px;
}
.custList p,
.newCust p {
  text-align: center;
}
.custList h3 {
  margin: 0;
}
.custList ul li {
  list-style-type: none;
}

.floatWrapper {
  position: absolute;
  top: 16rem;
  z-index: 18;
}
.custSelect {
  display: flex;
}
.custSelect select {
  height: 12rem;
}
.custSelect option {
  min-height: 3rem;
  width: 17rem;
  padding: 1rem;
  font-size: large;
}
.custSelect option:hover {
  background-color: palegreen;
  cursor: pointer;
  transition: 0.25s ease;
}
.custSelect option:nth-child(odd) {
  background-color: honeydew;
}
.custSelect option:nth-child(odd):hover {
  background-color: palegreen;
  transition: 0.25s ease;
}

.selectListForm {
  background-color: #d3ff58;
  margin: 2rem;
  padding: 2rem 2rem;
  border: 1px solid limegreen;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px #7cb305;
}

.selectList {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 15rem;
}
.selectList .csOpt {
  display: flex;
  align-items: center;
  min-height: 4rem;
  width: 17rem;
  padding: 1rem;
  font-size: large;
  background-color: #fff;
  color: #135200;
}
.selectList .csOpt:hover {
  background-color: #b8ff7e;
  cursor: pointer;
  transition: 0.25s ease;
}
.selectList .csOpt:nth-child(odd) {
  background-color: #f6ffed;
}
.selectList .csOpt:nth-child(odd):hover {
  background-color: #b8ff7e;
  transition: 0.25s ease;
}
.saveButton {
  margin: 0.5rem;
  padding: 1rem;
  min-width: 6rem;
  color: white;
  font-size: larger;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid white;
  border-radius: 0.3rem;
}
.cancelButton {
  margin: 0.5rem;
  padding: 1rem;
  min-width: 6rem;
  color: white;
  font-size: larger;
  // font-weight: 500;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid white;
  border-radius: 0.3rem;
}
.saveButton:hover,
.cancelButton:hover {
  cursor: pointer;
}
@media (max-width: 469px) {
  .inputCust {
    width: 100%;
    margin: 1rem 0 0.5rem 0 !important;
  }
} ;
