.TableContainer,
.TableContainer td {
  border: 1px solid #e3e3e3;
  text-align: right;
  padding: 0.5rem;
}
.TableContainer thead td {
  background-color: papayawhip;
  text-align: center;
  vertical-align: middle;
}
.vertical {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.gross {
  text-align: right;
  background-color: papayawhip;
  vertical-align: middle;
}
.alignLeft {
  text-align: left !important;
}
.alignLeftLowLight {
  text-align: left !important;
  background-color: #ddd;
  color: #aaa;
}
.dropButtonTable {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #faffea;
  float: right;
  flex: 0 0 auto;
}
.dropButtonTable:hover {
  background-color: #ffaabb;
  transition: 0.25s ease;
}
.restoreButtonTable {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #faffea;
  float: right;
  flex: 0 0 auto;
}
.restoreButtonTable:hover {
  background-color: #a3ff65;
  transition: 0.25s ease;
}