.TableContainer,
.TableContainer td {
  border: 1px solid olivedrab;
  text-align: right;
  padding: 0.5rem;
}
.TableContainer thead td {
  background-color: papayawhip;
  text-align: center;
  vertical-align: middle;
}
.vertical {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.gross {
  text-align: right;
  background-color: papayawhip;
  vertical-align: middle;
}
