.flexColumnContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}
.flexRowContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 0 2rem;
}
.rowElem {
  margin: 0 2rem;
}
.main {
  padding: 1rem 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  display: flex;
  padding: 0;
  border-bottom: 1px solid #eaeaea;
  justify-content: space-between;
  align-items: center;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.square0 {
  display: flex;
  flex-direction: column;
  height: 10rem;
  width: 10rem;
  border: none;
  margin: 1rem;
}
.square_plus,
.square_stat,
.square_sys {
  display: flex;
  height: 10rem;
  width: 10rem;
  border: 1px solid #282;
  border-radius: 10px;
  margin: 1rem;
}
.square_plus:hover {
  background-color: orange;
  cursor: pointer;
}
.square_stat:hover {
  background-color: yellowgreen;
  cursor: pointer;
}
.square_sys:hover {
  background-color: violet;
  cursor: pointer;
}
.halfsquare_top {
  display: flex;
  height: 5rem;
  width: 10rem;
  border: 1px solid #282;
  border-radius: 10px;
  margin: 0 0 0.5rem 0;
}
.halfsquare_top:hover {
  background-color: yellow;
  cursor: pointer;
}
.halfsquare_bottom {
  display: flex;
  height: 5rem;
  width: 10rem;
  border: 1px solid #282;
  border-radius: 10px;
  margin: 0.5rem 0 0 0;
}
.halfsquare_bottom:hover {
  background-color: steelblue;
  cursor: pointer;
}

.square_plus p,
.square_stat p,
.square_sys p,
.halfsquare_top p,
.halfsquare_bottom p {
  margin: auto;
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.logoBH {
  border: 2px solid #e8e;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-color: #a2a;
  color: blanchedalmond;
  margin: 0.5rem 0 0.5rem -1rem;
  display: flex;
}
.logoBH:hover {
  cursor: pointer;
}

.plusButton {
  height: 3rem;
  width: 3rem;
  background-color: #faffea;
  margin: 0.5rem -0.4rem 0 0;
  float: left;
}
.plusButton:hover {
  background-color: palegreen;
  transition: 0.25s ease;
}
.dropButton {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #faffea;
  float: right;
  margin-top: 1rem;
  margin-left: 1rem;
}
.dropButton:hover {
  background-color: #ffaabb;
  transition: 0.25s ease;
}
.sysButton,
.sysButtons button {
  margin: 0.5rem;
  padding: 1rem;
  min-width: 6rem;
}
.miniButtons button {
  margin: 0.5rem;
  padding: 1rem;
  min-width: 5rem;
}
.orangeButton,
.orangeButtons button {
  margin: 0.5rem;
  padding: 1rem;
  min-width: 6rem;
  background-color: darkorange;
  border-radius: 1rem;
}
.orangeButton:hover,
.orangeButtons button:hover {
  background-color: gold;
  transition: 0.5s ease;
}
.blueButton,
.blueButtons button {
  margin: 0.5rem;
  padding: 1rem;
  min-width: 5rem;
  background-color: lightskyblue;
  border-radius: 1rem;
}
.blueButton:hover,
.blueButtons button:hover {
  background-color: darkcyan;
  transition: 0.5s ease;
}
.userInput {
  margin-right: 10px;
}
.tzInput {
  margin-right: 10px;
  width: 4.3rem;
}
.footerLink {
  margin-right: 10px;
}
.login {
  margin: 20px auto;
}
.loginForm {
  border: 1px solid #2b2;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}
.loginButton {
  background-color: #8f8;
  color: #303;
  border: 1px solid #2b2;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
.loginButton:hover {
  background-color: #2f2;
  cursor: pointer;
}
.logoutButton {
  color: #303;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
.logoutButton:hover {
  cursor: pointer;
}
.guestButton {
  background-color: #fafafa;
  color: #888;
  border: 1px solid #888;
  border-radius: 5px;
  margin: 0 10px;
  padding: 10px;
}
.guestButton:hover {
  background-color: #eee;
  cursor: pointer;
}
.tips {
  color: olivedrab;
}

.main table,
.main td {
  border: 1px solid olivedrab;
  text-align: right;
  padding: 0.5rem;
}
.main thead td {
  background-color: papayawhip;
  text-align: center;
  vertical-align: middle;
}
thead td p.vertical {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
td.gross {
  text-align: right;
  background-color: papayawhip;
  vertical-align: middle;
}
.td_dropButton {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #faffea;
  margin: auto 0 auto 3rem;
}
.td_dropButton:hover {
  background-color: #ffaabb;
  transition: 0.25s ease;
}
.td_dropButton:active {
  background-color: #ff0033;
  transition: 0.1s ease;
}
.td_edit {
  padding: 0 !important;
}
.td_edit button {
  display: inline-flex;
  height: 100%;
  width: 100%;
  background-color: #faffea;
  margin: auto;
  padding: 1rem 2rem;
}
.td_edit button:hover {
  background-color: yellowgreen;
  transition: 0.25s ease;
}
.td_edit button:active {
  background-color: olivedrab;
  transition: 0.1s ease;
}
.main input {
  margin: 0.5rem;
  padding: 1rem;
  font-size: large;
}
.main input:invalid {
  border-color: red;
  color: red;
}
.gray {
  color: gray;
}
