.tableScroll {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 95vw;
  max-height: 80vh;
  overflow: scroll;
  margin: 1rem auto;
}
.flexColumnContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}
.flexRowContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 0 2rem;
}

.main {
  padding: 1rem 0 0 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(-15deg, #b5faff 5%, #9effa3 70%, #fffffe);
}

.header {
  display: flex;
  padding: 0;
  border-bottom: 1px solid #eaeaea;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(5deg, #fffffe, #9effa4 70%, #fff33c);
}

.main h1,
.main h3 {
  margin: 0 auto 1rem auto;
  color: darkviolet;
}
.title {
  margin: 0 0 0.3rem 0;
  color: darkolivegreen;
}
.tips {
  color: olivedrab;
}

.okButton {
  margin: 0.5rem;
  padding: 1rem;
  min-width: 6rem;
  color: white;
  font-size: larger;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  border-radius: 0.3rem;
}
.okButton:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.plusButton {
  height: 3rem;
  width: 3rem;
  background-color: #faffea;
  margin: 0.5rem -0.4rem 0 0;
  float: left;
  color: #5b8c00;
}
.plusButton:hover {
  background-color: palegreen;
  transition: 0.25s ease;
}
.dropButton {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #faffea;
  float: right;
  margin-top: 1rem;
  margin-left: 1rem;
}
.dropButton:hover {
  background-color: #ffaabb;
  transition: 0.25s ease;
}
.sysButton,
.sysButtons button,
.miniButtons button,
.orangeButton,
.orangeButtons button {
  margin: 0.5rem;
  padding: 1rem 0.5rem;
  min-width: 5rem;
}
.sysButton,
.miniButtons button {
  color: darkviolet;
  background-color: white;
  border: 1px solid darkviolet;
  border-radius: 0.3rem;
  box-shadow: 3px 3px 3px 0px #efdbff;
}

.orangeButtons,
.sysButtons {
  margin: 1rem 0;
  padding: 1rem 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.orangeButton,
.orangeButtons button {
  background-color: white;
  color: darkorange;
  border-color: darkorange;
  border-radius: 1rem;
  box-shadow: 3px 3px 3px 0px #ffe58f;
}
.orangeButton:hover,
.orangeButtons button:hover {
  background-color: gold;
  transition: 0.5s ease;
  color: white;
}

.plusButton:hover,
.sysButton:hover,
.orangeButton:hover,
.dropButton:hover,
.okButton:hover,
.miniButtons button:hover {
  cursor: pointer;
}

.miniInput input {
  margin: 0.5rem;
  padding: 1rem;
  width: 8rem;
  color: darkviolet;
  border: 1px solid darkviolet;
  border-radius: 0.3rem;
}

.userInput {
  margin-right: 10px;
}

.main input {
  margin: 0.5rem;
  padding: 1rem;
  font-size: large;
}
.main input:invalid {
  border-color: red;
  color: red;
}

.newFormPE {
  position: relative;
  z-index: 99;
  max-width: 26rem;
  margin: 2rem auto;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: #fbfff2;
  border: 1px solid lawngreen;
}

@media (max-width: 469px) {
  .plusButton {
    width: 8rem !important;
  }
} ;
